@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #00f0ff;
  --black: #333333;
  --secondary-color: rgb(43, 43, 43);
  --text-color: #bfbfbf;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 480px;
  max-width: 600px;
  background-image: url(./images/background.svg);
  background-attachment: fixed;
  margin: auto;
  text-align: center;
}

.header {
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-bottom-right-radius: 20px;
  margin:0px;
}

/* Container */

.container {
  text-align: center;
}

.heading {
  color: var(--primary-color);
}

.description {
  font-size: larger;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
  color: var(--primary-color);
}

.input {
  font-size: 20px;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--secondary-color);
}

#check-button {
  background: var(--primary-color);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  margin: auto;
  display: block;
  color: black;
}

#error-message {
  display: block;
  font-size: larger;
  border: 2px dotted var(--primary-color);
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  padding: 15px
}

/* Table */

.change-table {
  border-collapse: collapse;
  margin: auto;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th, td {
  border: 2px solid var(--primary-color);
  border-collapse: collapse;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
  width: 2rem;
}

.table-container{
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}